body{
  /* font-family: 'Indie Flower', cursive; */
  font-family: sans-serif;
}
header{
  font-size: 40px;
  text-align: center;
  font-style: bold;
}

html{
	background: linear-gradient(rgba(0, 43, 122, .8),
	rgba(0, 51, 204, .8)),
	url('../images/salondeclases.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 20px;
}

section {
  display: inline-block;
  padding-top: 0;
}

td {
    border: 3px solid #BB8800;
    font-size: 30px;
    font-style: bold;
    height: 30px;
    text-align: center;
    width: 20px;
}
